In [15]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [16]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Thompson,CA,2020-10-31 06:31:53,55.74,-97.86,17.60,85,90,11.41
1,1,Mahebourg,MU,2020-10-31 06:32:35,-20.41,57.70,71.60,53,20,12.75
2,2,Chokurdakh,RU,2020-10-31 06:32:11,70.63,147.92,9.28,96,99,6.13
3,3,Sao Filipe,CV,2020-10-31 06:33:07,14.90,-24.50,79.43,65,100,16.55
4,4,Ushuaia,AR,2020-10-31 06:31:23,-54.80,-68.30,48.20,70,75,18.34

In [17]:
# gmaps can only use integers or floating-point decimal numbers
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [18]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [19]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [29]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)


# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of percent windiness
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [33]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Sao Filipe,CV,2020-10-31 06:33:07,14.90,-24.50,79.43,65,100,16.55
10,10,Hilo,US,2020-10-31 06:30:02,19.73,-155.09,77.00,83,75,6.04
11,11,Grand Gaube,MU,2020-10-31 06:33:40,-20.01,57.66,75.99,43,0,11.01
13,13,Rikitea,PF,2020-10-31 06:31:59,-23.12,-134.97,75.58,71,0,5.66
16,16,Gwadar,PK,2020-10-31 06:30:46,25.12,62.33,82.67,23,0,5.32
19,19,Lashio,MM,2020-10-31 06:34:34,22.93,97.75,75.94,86,89,0.85
23,23,Adre,TD,2020-10-31 06:34:35,13.47,22.20,81.27,23,74,18.28
28,28,Vila Do Maio,CV,2020-10-31 06:34:36,15.13,-23.22,77.00,78,0,21.92
33,33,Harper,LR,2020-10-31 06:34:37,4.38,-7.72,77.49,89,4,9.15
36,36,Anloga,GH,2020-10-31 06:34:38,5.79,0.90,78.80,88,20,3.36

In [34]:
# Determine if any null values exist
preferred_cities_df.count()

City_ID       163
City          163
Country       162
Date          163
Lat           163
Lng           163
Max Temp      163
Humidity      163
Cloudiness    163
Wind Speed    163
dtype: int64

In [35]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [38]:
preferred_cities_df = preferred_cities_df.dropna()

In [39]:
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Sao Filipe,CV,2020-10-31 06:33:07,14.90,-24.50,79.43,65,100,16.55
10,10,Hilo,US,2020-10-31 06:30:02,19.73,-155.09,77.00,83,75,6.04
11,11,Grand Gaube,MU,2020-10-31 06:33:40,-20.01,57.66,75.99,43,0,11.01
13,13,Rikitea,PF,2020-10-31 06:31:59,-23.12,-134.97,75.58,71,0,5.66
16,16,Gwadar,PK,2020-10-31 06:30:46,25.12,62.33,82.67,23,0,5.32
...,...,...,...,...,...,...,...,...,...,...
520,520,Fatwa,IN,2020-10-31 06:36:37,25.52,85.32,84.20,42,40,5.82
522,522,Shilong,CN,2020-10-31 06:36:37,23.11,113.84,82.40,69,75,6.71
525,525,Atambua,ID,2020-10-31 06:36:38,-9.11,124.89,86.38,51,16,3.49
530,530,Faanui,PF,2020-10-31 06:32:13,-16.48,-151.75,79.00,76,0,15.77
531,531,Tshikapa,CD,2020-10-31 06:36:39,-6.42,20.80,80.08,76,26,1.41

In [40]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
3     Sao Filipe      CV     79.43  14.90  -24.50
10          Hilo      US     77.00  19.73 -155.09
11   Grand Gaube      MU     75.99 -20.01   57.66
13       Rikitea      PF     75.58 -23.12 -134.97
16        Gwadar      PK     82.67  25.12   62.33
19        Lashio      MM     75.94  22.93   97.75
23          Adre      TD     81.27  13.47   22.20
28  Vila Do Maio      CV     77.00  15.13  -23.22
33        Harper      LR     77.49   4.38   -7.72
36        Anloga      GH     78.80   5.79    0.90

In [41]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [43]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [45]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [51]:
hotels

{'html_attributions': [],
 'results': [{'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -6.4252025, 'lng': 20.7928687},
    'viewport': {'northeast': {'lat': -6.423866619708498,
      'lng': 20.7941477302915},
     'southwest': {'lat': -6.426564580291503, 'lng': 20.7914497697085}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Tshia-Muntu de Tshikapa',
   'photos': [{'height': 2976,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105935083985007513674">Gabriella D&#39;Elia</a>'],
     'photo_reference': 'CmRaAAAATz4HTyoLmhWTQJT59UR8rVNjbJl8lZxXeUxuAID8mr5P9X3oxBC6mxcnnc_DPIQ5vYharH2nyEqSob30yhNqTLmTkXSkDE9O-fum-C6cP6TWEqJhta7r4d0Nfh299_2EEhBX4RwP6w5kWZHOhjnBDWcQGhTzNoFA328YOTtKCSfvoyYddRUNaw',
     'width': 3968}],
   'place_id': 'ChIJA3C76R05JBoRr2oYYavSHfE',
   'plus_code': {'compound_code': 'HQFV+W4 Tshikapa, Democratic Republic of the Congo',
    'global_code': '6G52HQFV+W4'},
   'rating': 1,
   'reference': 'ChIJA3C76R05JBoRr2oYYavSHfE',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 1,
   'vicinity': '38, 1 Avenue Likasi, Tshikapa'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -6.422214, 'lng': 20.790152},
    'viewport': {'northeast': {'lat': -6.420856969708498,
      'lng': 20.7914722802915},
     'southwest': {'lat': -6.423554930291502, 'lng': 20.7887743197085}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'hôtel paradis de Tshikapa',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/117401708737235826459">hôtel paradis de Tshikapa</a>'],
     'photo_reference': 'CmRZAAAAP31SEPNMyJAc89U_4aQf-MujbsRLwuXFJsZru6o3CsYms97HFr8SkBveU2_ZDHmHDGb-G7T9lJciZKqsdpHSz25tEQWj4wEpfzHkvdm4AQDYXCJlAyCM7en9K0raoyKWEhB56DdOO8YWcgwJehJlQdUVGhQ0TzOnbxxfGk7C2mOTTrQqhgrnUQ',
     'width': 4032}],
   'place_id': 'ChIJz-hbDNU5JBoRmxeJQM45Bm8',
   'plus_code': {'compound_code': 'HQHR+43 Tshikapa, Democratic Republic of the Congo',
    'global_code': '6G52HQHR+43'},
   'rating': 2.5,
   'reference': 'ChIJz-hbDNU5JBoRmxeJQM45Bm8',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 2,
   'vicinity': 'av taba Congo ville de Tshikapa, ville de Tshikapa'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -6.424604500000001, 'lng': 20.7899382},
    'viewport': {'northeast': {'lat': -6.423293669708499,
      'lng': 20.7912727802915},
     'southwest': {'lat': -6.425991630291502, 'lng': 20.7885748197085}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hotel Paradis de Tshikapa, Congo',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 720,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108062059506464779426">Hotel Paradis de Tshikapa, Congo</a>'],
     'photo_reference': 'CmRaAAAAW8nqG7dAkLa8jKr5dfKjUCXPzkvLs-Fh8hS5opTXkFi5QPkXrfsyvxC9jBZko3ytvX9C1TRDM4MBAcbp_NU3dav2UPZHq4KDzPmmg_5_vwQHMoAYrICkZ5IY3UgSocy_EhCqTDHmm-q_fVy-1XXnVvVYGhQfa5ezDEqkCgndviCxp8sUptslQg',
     'width': 960}],
   'place_id': 'ChIJEUMIQps5JBoR-kb-bO-u99w',
   'plus_code': {'compound_code': 'HQGQ+5X Tshikapa, Democratic Republic of the Congo',
    'global_code': '6G52HQGQ+5X'},
   'rating': 3,
   'reference': 'ChIJEUMIQps5JBoR-kb-bO-u99w',
   'scope': 'GOOGLE',
   'types': ['lodging',
    'bar',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 7,
   'vicinity': 'Avenue Tabac Congo, Number 5, Tshikapa'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -6.4118801, 'lng': 20.8107618},
    'viewport': {'northeast': {'lat': -6.410429219708497,
      'lng': 20.8120690302915},
     'southwest': {'lat': -6.413127180291502, 'lng': 20.80937106970849}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/camping-71.png',
   'name': 'COMMUNE ADM OF MABONDO',
   'place_id': 'ChIJT0z6i4M7JBoRWPkJACX-pCI',
   'plus_code': {'compound_code': 'HRQ6+68 Tshikapa, Democratic Republic of the Congo',
    'global_code': '6G52HRQ6+68'},
   'reference': 'ChIJT0z6i4M7JBoRWPkJACX-pCI',
   'scope': 'GOOGLE',
   'types': ['campground',
    'lodging',
    'park',
    'point_of_interest',
    'establishment'],
   'vicinity': 'Tshikapa'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -6.409095499999999, 'lng': 20.810036},
    'viewport': {'northeast': {'lat': -6.407858169708498,
      'lng': 20.8113979802915},
     'southwest': {'lat': -6.410556130291503, 'lng': 20.8087000197085}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/camping-71.png',
   'name': 'COMMUNE ADM OF MBUMBA',
   'place_id': 'ChIJYQ7UlT47JBoR_4GnDUT4Q94',
   'plus_code': {'compound_code': 'HRR6+92 Tshikapa, Democratic Republic of the Congo',
    'global_code': '6G52HRR6+92'},
   'reference': 'ChIJYQ7UlT47JBoR_4GnDUT4Q94',
   'scope': 'GOOGLE',
   'types': ['campground',
    'lodging',
    'park',
    'point_of_interest',
    'establishment'],
   'vicinity': 'Tshikapa'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -6.4083555, 'lng': 20.8145126},
    'viewport': {'northeast': {'lat': -6.407017869708499,
      'lng': 20.8158658802915},
     'southwest': {'lat': -6.409715830291503, 'lng': 20.8131679197085}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/camping-71.png',
   'name': 'TSHELA BWADI',
   'place_id': 'ChIJs6PrI7k7JBoRTRGP0n-FEZo',
   'plus_code': {'compound_code': 'HRR7+MR Tshikapa, Democratic Republic of the Congo',
    'global_code': '6G52HRR7+MR'},
   'reference': 'ChIJs6PrI7k7JBoRTRGP0n-FEZo',
   'scope': 'GOOGLE',
   'types': ['campground',
    'lodging',
    'park',
    'point_of_interest',
    'establishment'],
   'vicinity': 'Tshikapa'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -6.4046691, 'lng': 20.81864389999999},
    'viewport': {'northeast': {'lat': -6.403191769708498,
      'lng': 20.8199049302915},
     'southwest': {'lat': -6.405889730291502, 'lng': 20.81720696970849}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/camping-71.png',
   'name': 'ASOSA',
   'place_id': 'ChIJUwxMTlI7JBoRkq_eNA--LJk',
   'plus_code': {'compound_code': 'HRW9+4F Tshikapa, Democratic Republic of the Congo',
    'global_code': '6G52HRW9+4F'},
   'reference': 'ChIJUwxMTlI7JBoRkq_eNA--LJk',
   'scope': 'GOOGLE',
   'types': ['campground',
    'lodging',
    'park',
    'point_of_interest',
    'establishment'],
   'vicinity': 'Tshikapa'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -6.4265725, 'lng': 20.7883668},
    'viewport': {'northeast': {'lat': -6.425229819708498,
      'lng': 20.7897335302915},
     'southwest': {'lat': -6.427927780291503, 'lng': 20.7870355697085}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Etas Majore',
   'place_id': 'ChIJq02cjNY5JBoRlns-h-i2-Jw',
   'plus_code': {'compound_code': 'HQFQ+98 Tshikapa, Democratic Republic of the Congo',
    'global_code': '6G52HQFQ+98'},
   'reference': 'ChIJq02cjNY5JBoRlns-h-i2-Jw',
   'scope': 'GOOGLE',
   'types': ['spa', 'lodging', 'point_of_interest', 'establishment'],
   'vicinity': 'Tshikapa'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -6.427523400000001, 'lng': 20.7872577},
    'viewport': {'northeast': {'lat': -6.4261744197085,
      'lng': 20.7886066802915},
     'southwest': {'lat': -6.428872380291503, 'lng': 20.7859087197085}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Nganda KBG',
   'photos': [{'height': 1920,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104509765118299517244">mardochée nganzi</a>'],
     'photo_reference': 'CmRaAAAABrRbHoyQmXEYEEzt8E-rwTfxj_iWNmVw8pQNRekG48hdCmlUCsCOXa5zuZk-PgNM5qqUWDNvRIPxldS1b43tXlsqGoemmOZGi2bwglfbr5HOtLCmF3rHK5Qf87_1evFuEhAIISbOYDzvZoTC0IPiszWGGhTu5n-GsELhupN6LcYDj05UhFrcHQ',
     'width': 1088}],
   'place_id': 'ChIJU9uQVsw5JBoRSRVN5w_z-P8',
   'plus_code': {'compound_code': 'HQCP+XW Tshikapa, Democratic Republic of the Congo',
    'global_code': '6G52HQCP+XW'},
   'reference': 'ChIJU9uQVsw5JBoRSRVN5w_z-P8',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'vicinity': 'Croisement du av. du stade et Kabongo numéro 01, Tshikapa'}],
 'status': 'OK'}

In [50]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    
    # Grab the first hotel from the results and store the name.
    # hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [52]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Sao Filipe,CV,79.43,14.90,-24.50,Tortuga B&B
10,Hilo,US,77.00,19.73,-155.09,Hilo Hawaiian Hotel
11,Grand Gaube,MU,75.99,-20.01,57.66,Veranda Paul et Virginie Hotel & Spa
13,Rikitea,PF,75.58,-23.12,-134.97,Pension Maro'i
16,Gwadar,PK,82.67,25.12,62.33,Sadaf Resort
...,...,...,...,...,...,...
520,Fatwa,IN,84.20,25.52,85.32,BABA sweets and tea stall
522,Shilong,CN,82.40,23.11,113.84,Cinese Hotel Dongguan Shijie
525,Atambua,ID,86.38,-9.11,124.89,Pondok Pesantren Al Muhajirin Atambua
530,Faanui,PF,79.00,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
531,Tshikapa,CD,80.08,-6.42,20.80,Hôtel Tshia-Muntu de Tshikapa

In [53]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [56]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

KeyError: 'column1'

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig